.Back-Button {
  font-size: 2rem;
  margin: 0 20px;
  text-decoration: none;
}

.Back-Button:hover {
  background-color: black;
  color:white;  
}

.Fullscreen-Art {
  color: black;
}


.prev {
  text-decoration: none;
}
.prev:hover {
  background-color: black;
  color:white;
}

.next {
  text-decoration: none;
}
.next:hover {
  background-color: black;
  color:white;
}