.Back-Button {
  font-size: 2rem;
  margin: 0 20px;
  text-decoration: none;
}

.Back-Button:hover {
  background-color: black;
  color:white;  
}

.Fullscreen-Art {
  color: black;
}

.Art-Piece-Name {
  font-size: 1rem;
}

.Art-info {
  max-width: 48%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.9rem;
}

.Art-Piece-Materials {
  font-size: 0.7rem;
}

.Art-Piece-Size {
  font-size: 0.7rem;
}


.prev {
  text-decoration: none;
}
.prev:hover {
  background-color: black;
  color:white;
}

.next {
  text-decoration: none;
}
.next:hover {
  background-color: black;
  color:white;
}